@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin font-style {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 96;
    font-style: normal;
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Media query manager
/*
0-600px: Phone
600-900px: Tablet Portrait
900-1200px: Tablet landscape
[1200-1800]is where our normal




*/

@mixin respond($breakpoint) {
    @if $breakpoint == phones {
        @media only screen and (max-width: 20em) { @content };    //600px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800
    }
}