//HEADER STARTS
body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style:normal;
    font-weight: 400;
    line-height: 1.7;
    color:$color-grey-dark;
    padding: 0;
    box-sizing: border-box;
}

.heading-primary{
    color: $color-dark-green;
    backface-visibility: hidden;
    margin-bottom: 15rem;

    &--main{
        font-family: "Lora", serif;
        font-optical-sizing: auto;
        font-style:normal;
        display: block;
        font-size: 10rem;
        font-weight: 100;
        letter-spacing: 0rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        @media (max-width: 56.25em) {
            font-size: 5rem;
            letter-spacing: 3rem;
        }

        @media (max-width: 37.5em) {
            font-size: 4rem;
            letter-spacing: 2rem;
        }
        @include respond(phone) {
            letter-spacing: 1rem;
            font-family: 5rem;
        }
    
    }
    
    &--sub{
        font-family: "Allura", cursive;
        font-weight: 400;
        font-optical-sizing: auto;
        font-style: normal;
        display: block;
        font-size: 10rem;
        letter-spacing: .5rem;
        animation: moveInRight 2s ease-out ;
        @media (max-width: 56.25em) {
            font-size: 4rem;
            letter-spacing: 1.5rem;
        }

        @media (max-width: 37.5em) {
            font-size: 6rem;
            letter-spacing: 1rem;
        }
        @include respond(phone) {
            letter-spacing: .5rem;
        }
    }
    &--custom{
        @include font-style;
    }

}
//HEADER ENDS

.heading-secondary{
    font-size: 5.4rem;
    font-weight: 400;
    font-family: "Allura",serif;
    font-optical-sizing: auto;
    font-style:normal;
    background-image:linear-gradient(to right, $color-dark-green, $color-dark-green-light);
    background-clip: text;
    color:transparent;
    animation: moveInRight 2s ease-out ;
    &-todo{
        font-size: 5.4rem;
        font-weight: 400;
        font-family: "Allura",serif;
        font-optical-sizing: auto;
        font-style:normal;
        background-image:linear-gradient(to right, $color-dark-green, $color-dark-green-light);
        background-clip: text;
        color:transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
        margin-top: -2rem; 
    }
    
}

.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 300 bold;
    text-transform:capitalize;
    color: $color-black;
    
}

.heading-tertiary-stories{
    font-size: 1.6rem;
    font-weight: 300 bold;
    color: $color-black;
    text-align: center;
    
}
.paragraph{
    font-size: 1.6rem;
    color: $color-black;
    
    &--u{
        font-size: 2rem; 
        font-weight: 400;
        font-family: "Lora",serif;
        font-optical-sizing: auto;
        font-style:normal;
        @include respond(tab-port) {
            padding: 10rem 0;
        }
    }
    &--u2{
        font-size: 2rem; 
        font-weight: 600;
        font-family: "Lora",serif;
        font-optical-sizing: auto;
        font-style:normal;
        opacity: 30;
        @include respond(tab-port) {
            padding: 10rem 0;
        }
       
    }
    &--u3{
        font-size: 2rem; 
        font-weight: 300;
        font-family: "Lora",serif;
        font-optical-sizing: auto;
        font-style:normal;
        @include respond(tab-port) {
            padding: 5rem 0;
        }
       
    }

}