//COLORS

$color-primary:rgba(252, 196, 252, 0.3);
$color-primary-light: #f4eae9; 
$color-primary-dark:rgba(255, 143, 255, 0.3);
$color-all-web:#f4eae9;
$color-all-web-darken:#e7b5b1;
$color-head-and-foot: #c99da780;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//GRID

$grid-width: 114rem;
$gutter-vertical: 20rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//FONT COLORS
$color-dark-green-light: #6b604f;
$color-dark-green: #4f483d;

$default-font-size: 1.6rem; 

//NAVBAR
$color_1: #f2f2f2;
$color_2: black;
$color_3: white;
$background-color_2: #c99da780;
$background-color_3: #04AA6D; 